$ratio: 375 / 10;

@function px2rem($px) {
  @return $px / $ratio + rem;
}

// 使子元素居中显示
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 使子元素居左显示
@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// 使子元素居由显示
@mixin right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// 文字超过一行省略显示
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 文字超过xx行省略显示
@mixin ellipsis2($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}